<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>491905689238-pb41rl5dt6mcjo3lbo3qn5tcup4f5tni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491905689238-pb41rl5dt6mcjo3lbo3qn5tcup4f5tni</string>
	<key>API_KEY</key>
	<string>AIzaSyDXsM7s9y9H8YgRqU_1L1UXpQrabhlxFKs</string>
	<key>GCM_SENDER_ID</key>
	<string>491905689238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ReeVuu-Athelete</string>
	<key>PROJECT_ID</key>
	<string>myreevuu</string>
	<key>STORAGE_BUCKET</key>
	<string>myreevuu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491905689238:ios:290846eda968dc50</string>
	<key>DATABASE_URL</key>
	<string>https://myreevuu.firebaseio.com</string>
</dict>
</plist>